
.navbar {
    justify-content: center;
}

.margin-right {
    margin-right: 25px;
}

.icon {
    font-size: 25px;
    color: white;
}

.icon:hover {
    color: #DCDCDC;
    cursor: pointer;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
 }