<app-header></app-header>
<div class="container">
  <app-select-country [countries]="countries" (chosenCountry)="clickedCountry($event)"></app-select-country>
      <div class="country-detail">
        <div class="row">
          <app-uni-list class="col-sm-6" (chosenUni)="showDetails($event)" [countryChosen]="countryChosen" [UniList]="UniList" [uniListShown]="uniListShown" ></app-uni-list>
          <app-uni-details class="col-sm-6" [uniTitle]="uniTitle" [countrySubtitle]="countrySubtitle" [domainLink]="domainLink" [href]="href" [shownDetails]="shownDetails" ></app-uni-details>
        </div>
      </div>
</div>
<app-footer></app-footer>